.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.todo-container {
  padding: 50px;
  padding-top: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.grouping-and-searching {
  display: flex;
  justify-content: space-between;
  padding: 24px;

  & > div:first-of-type {
    margin-right: 50px;
    min-width: 150px;
  }

  & > div:last-of-type {
    flex-grow: 1;
  }
}
