.due-by-n-priority{display:flex;justify-content:space-between}.due-by-n-priority .priority{min-width:40%}

.create-button{position:fixed;right:0;top:0}

.completed{text-decoration:line-through}.task-row:hover{cursor:pointer}.task-row .task-done,.task-row .task-re-open{color:white;text-transform:none}.task-row .task-done{background-color:green}.task-row .task-done:hover{background-color:lightgreen}.task-row .task-re-open{background-color:lightseagreen}.task-row .task-re-open:hover{background-color:lightskyblue}

.task-group-name td{font-weight:bold;text-decoration:underline;font-size:1rem}.MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active .MuiTableSortLabel-icon.MuiTableSortLabel-icon{color:blue}

.visually-hidden{position:absolute !important;height:1px;width:1px;overflow:hidden;clip:rect(1px 1px 1px 1px);clip:rect(1px, 1px, 1px, 1px);white-space:nowrap}.todo-container{padding:50px;padding-top:0px}.header{display:flex;justify-content:space-between}.grouping-and-searching{display:flex;justify-content:space-between;padding:24px}.grouping-and-searching>div:first-of-type{margin-right:50px;min-width:150px}.grouping-and-searching>div:last-of-type{flex-grow:1}

body{margin:0;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}code{font-family:source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace}

